@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->
<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <header id="header" class="header header-transparent header--sticky">
        <!-- Nav Bar -->
        <nav id="navigation" class="header-nav">
            <div class="container">
                <div class="row d-flex flex-md-row align-items-center">
                    <div class="logo mr-auto">
                        <!--logo-->
                        <a asp-page="/Index">
                            <img class="logo-dark" src="~/images/ecocabinslogocolor.png" alt="Mazel" />
                            <img class="logo-light" src="~/images/ecocabinslogowhite.png" alt="Mazel" />
                        </a>
                        <!--End logo-->
                    </div>

                    <div class="nav-menu ml-auto">
                        <ul class="">
                            <li class="nav-menu-item">
                                <a asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-menu-item">
                                <a asp-page="/About">About</a>
                            </li>
                            <li class="nav-menu-item mega-menu">
                                <a asp-page="/Contact">Contact</a>
                            </li>                          
                            <li><a target="_blank" href="https://www.facebook.com/Ecocabins/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav Bar -->
    </header>
</div>
<!-- End Header -->
<!-- CONTENT --------------------------------------------------------------------------------->
<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image parallax parallax-background1" data-background-img="images/contactimage.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Contact Us</h2>
            <div class="page-breadcrumb">
                <a asp-page="/Index">Home</a>/<span>Contact</span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Contact Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Get In Touch</h3>
                <p class="lead">Nullam dictum felis eu pede mollis pretium leo eget bibendum sodales augue velit cursus. tellus eget condimentum rhoncus sem quam semper libero.</p>
            </div>
        </div>
        <div class="spacer-75"></div>
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <!-- Contact FORM -->
                <form class="contact-form" id="contact" role="form">

                    <!-- IF MAIL SENT SUCCESSFULLY -->
                    <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                    </h6>
                    <!-- END IF MAIL SENT SUCCESSFULLY -->
                    <!-- MAIL SENDING UNSUCCESSFULL -->
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                    </h6>
                    <!-- END MAIL SENDING UNSUCCESSFULL -->

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="text" name="form-email" placeholder="Name" required>
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Address" required>
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="City">
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="State" required>
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Zip Code" required>
                    </div>

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Email" required>
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Phone Number" required>
                    </div>
                    <div class="form-field-wrapper">
                        <h6>What is the best way to contact you?</h6>
                        <select>
                            <option> Email</option>
                            <option> Phone</option>
                        </select>

                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="What is the best time to contact you?" required>
                    </div>
                    <div class="form-field-wrapper">
                        <h6>When do you play on building?</h6>
                        <select>
                            <option> Immediately</option>
                            <option> 6-12 Months</option>
                            <option> 12-18 Months</option>
                            <option> 18-24 Months</option>
                            <option> Not Sure</option>
                        </select>
                    </div>
                    <div class="form-field-wrapper">
                        <h6>Do you own the land you want to build on?</h6>
                        <select>
                            <option> Yes</option>
                            <option> No</option>
                        </select>
                    </div>
                    <div class="form-field-wrapper">
                        <h6>Do need financing?</h6>
                        <select>
                            <option> Yes</option>
                            <option> No</option>
                            <option> Not Sure</option>
                        </select>
                    </div>
                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Do you know what your budget is for this project?" required>
                    </div>
                   
                    <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Send Message</button>
                </form>
                <!-- END Contact FORM -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
