@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

    <!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <header id="header" class="header header-transparent header--sticky">
        <!-- Nav Bar -->
        <nav id="navigation" class="header-nav">
            <div class="container">
                <div class="row d-flex flex-md-row align-items-center">
                    <div class="mr-auto logo">
                        <!--logo-->
                        <a asp-page="/Index">
                            <img class="logo-dark" src="~/images/ecoNoShadow.png" alt="Mazel" />
                            <img class="logo-light" src="~/images/ecoNoShadowWhite.png" alt="Mazel" />
                        </a>
                        <!--End logo-->
                        <div class="nav-icons">
                            <div class="nav-icon-item d-lg-none">
                                <span class="nav-icon-trigger menu-mobile-btn align-middle"><i class="ion"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-menu ml-auto">
                        <ul class="">
                            <li class="nav-menu-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="nav-menu-item">
                                <a asp-page="/About">About</a>
                            </li>
                            <li class="nav-menu-item">
                                <a asp-page="/Contact">Contact</a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/Ecocabins/"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav Bar -->
    </header>

    <!-- End Header -->
    <!-- CONTENT --------------------------------------------------------------------------------->
    <!-- Intro Section -->
    <section id="intro" class="dark-bg">

        <!-- Hero Slider Section -->
        <div class="owl-carousel fullwidth-slider white o-flow-hidden">
            <!--Slide-->
            <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/yorkNight-min.png">
            </div>

            <!--Slide-->
            <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/crowestaircase-min.png"></div>

            <!--Slide-->
            <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/table-min.png"></div>
        </div>
        <!-- End Hero Slider Section -->
    </section>
    <!-- End Intro Section -->

    <div class="clearfix"></div>

    <!--About Section-->
    <section id="about" class="wow fadeIn ptb ptb-sm-80">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3 class="h4">WHY CHOOSE US</h3>
                    <div class="spacer-15"></div>
                    <p class="lead">You've dreamed of a timber frame home: a home that represents your personal taste, your love of nature, and your desire for superior quality. Whether you're looking for a classic cottage or a grand statement, <strong>Ecocabins</strong> can create the home you envision. We can work together to deliver on the promise our customers have made to themselves to build their dream home.</p>
                </div>
            </div>
            <div class="row mt-80">

            </div>
        </div>
    </section>
    <!-- End About Section-->
    <hr />
    <!-- Service Section -->
    <section id="service" class="ptb ptb-sm-80">
        <div class="wow fadeInLeft container text-center">
            <h3>WHAT WE DO</h3>
            <div class="spacer-60"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-45">
                    <div class="page-icon-top"><i class="fas fa-home"></i></div>
                    <h5>Quality</h5>
                    <p>We respect quality above all else and insist on the best grade lumber available. Our craftsmen and crew oversee every last detail to ensure your home will be authentic and inspiring.</p>
                </div>
                <div class="col-md-4 col-sm-6 mb-45">
                    <div class="page-icon-top"><i class="fas fa-handshake"></i></div>
                    <h5>Local</h5>
                    <p>Our timbers are crafted locally, milled and carved by local artisans, and can be raised by the same team of dedicated professionals who worked on it piece by piece.</p>
                </div>
                <div class="col-md-4 col-sm-6 mb-45">
                    <div class="page-icon-top"><i class="fas fa-tree"></i></div>
                    <h5>Environmentally Friendly</h5>
                    <p>Our timbers come from well-managed forests and our houses remain among the most environmentally friendly houses available. We understand the importance of building sustainability.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Section -->

    <hr />


    <!-- Client Logos Section -->
    <section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
        <div class="wow fadeInLeft container text-center">
            <h3>PROUD INDEPENDENT REPRESENTATIVE OF</h3>
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div>
                            <a href="https://midatlantictimberframes.com/">
                                <img src="~/images/midatltimberlogo-min.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</section>
    <!-- End Client Logos Section -->
    <!-- END CONTENT ---------------------------------------------------------------------------->
    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
</div>
    <!-- End Scroll Top -->
