@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->
    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
        <header id="header" class="header header-transparent header--sticky">
            <!-- Nav Bar -->
            <nav id="navigation" class="header-nav">
                <div class="container">
                    <div class="row d-flex flex-md-row align-items-center">
                        <div class="logo mr-auto">
                            <!--logo-->
                            <a href="index.html">
                                <img class="logo-dark" src="~/images/ecocabinslogo.png" alt="Mazel" />
                                <img class="logo-light" src="~/images/ecocabinslogo.png" alt="Mazel" />
                            </a>
                            <!--End logo-->
                        </div>

                        <div class="nav-menu ml-auto">
                            <ul class="">
                                <li class="nav-menu-item">
                                    <a href="#">Home</a>                    
                                </li>
                                <li class="nav-menu-item">
                                    <a asp-page="/About">About</a>                  
                                </li>                              
                                <li class="nav-menu-item">
                                    <a asp-page="/Contact">Contact</a>                                   
                                </li>
                            </ul>
                        </div>
                </div>
              </div>
            </nav>
            <!-- End Nav Bar -->
        </header>
        </div>
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section id="intro" class="dark-bg">

            <!-- Hero Slider Section -->
            <div class="owl-carousel fullwidth-slider white o-flow-hidden">
                <!--Slide-->
                <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/photo1.jpg">
                    <!-- Content -->
                    <div class="full-cap-wraper light-color">
                        <div class="content-caption light-color">
                            <div class="container">                               
                                <br />
                                <h1 class="h1">Welcome To Ecocabins</h1>
                                <br>                            
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>

                <!--Slide-->
                <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/photo2.jpg"></div>

                <!--Slide-->
                <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="images/photo3.jpg"></div>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <!-- End Intro Section -->

        <div class="clearfix"></div>

        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4">WHY CHOOSE US</h3>
                        <div class="spacer-15"></div>
                        <p class="lead"><strong>Expertise.</strong> When you partner with us you can expect the highest quality of old-world craftsmanship, attention to detail, and a job done right the first time. Relying on our roots in the traditional craft of mortise-and-tenon joinery combined with modern CNC machining technology, the expertise of our third-generation woodworkers and craftsmen provide you with a structure that is not only beautiful, but will stand the test of time. <strong>Flexibility.</strong> Timber frame homes offer limitless possibilities compared to traditional post and beam construction. It doesn’t matter if you come to us with a rough idea, preliminary drawings, or a full set of architectural plans — our design team will work with you to customize your design and bring your vision to life. <strong>Peace of Mind.</strong> At Mid-Atlantic Timberframes we understand that every client is unique. Whether you are a residential client or one of our design/build partners, we are committed to delivering the best building experience available in the timber frame construction industry today. Our team of in-house designers will custom design your structure and allow you to conduct a virtual walk-through of your future timber frame home or structure before any ground is broken. Our process eliminates problems that might arise later in the job, saving you both time and money.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <hr />
        <!-- Service Section -->
        <section id="service" class="ptb ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>Our Services</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="fas fa-home"></i></div>
                        <h5>House Building</h5>
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="fas fa-hammer"></i></div>
                        <h5>House Building</h5>
                        <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="fas fa-dollar-sign"></i></div>
                        <h5>House Building</h5>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service Section -->
               
        <hr />
   
        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising. I did my first show in the third grade and just kept going. "</p>
                            <h6 class="quote-author">Jeff Dunham <span style="font-weight: 400;">( Appel Studio )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                            <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                            <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->
       
        <hr />
       
        <!-- Client Logos Section -->
        <section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div>
                            <a href="https://midatlantictimberframes.com/">
                                <img src="~/images/midatltimberblack.png" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Client Logos Section -->
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->
